.cart-body-container {
    padding: 20px;
    background-color: #F4DEBE;
  }
  
  .cart-body-header {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .cart-item span {
    flex: 1;
    font-size: 16px;
  }
  
  .cart-button {
    background-color: #4D675A;
    color: white;
    padding: 3px 6px;
    border: none;
    border-radius: 2.5px;
    cursor: pointer;
    font-size: 10px;
    margin-left: 3px;
  }
  
  .cart-button:hover {
    background-color: #3b4d40;
  }
  
  .cart-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  