<main id="hatterek" role="main">

    <div class="container">
        <div class="row">
            <section>
                <div class="parallax-one text-center text-light text-uppercase">
                    <a id="top"></a>
                    <div id="hgh">
                        <img class="p-2 logo" src="retro_logo.png" alt="logo" width="100" height="100">
                        <h2>Retro Vintage Shop</h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim dolore autem cum blanditiis
                            tempore delectus quisquam nemo vitae, fuga debitis explicabo omnis quis quaerat magni iste
                            assumenda facilis eos recusandae?
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="container marketing pt-5">

        <div class="row pt-5 hovimg">

            <hr class="featurette-divider pb-5">

            <div class="col-lg-4 ">
                <a href="">
                    <img class="img-fluid" src="bakelit_lemez.jpg" alt="" width="300" height="300">
                </a>
                <h2>Bakelite discs</h2>
            </div>
            <div class="col-lg-4 ">
                <a href="">
                    <img class="img-fluid" src="poszterek.webp" alt="img-fluid" width="300" height="300">
                </a>
                <h2>Posters</h2>
            </div>
            <div class="col-lg-4 ">
                <a href="">
                    <img class="img-fluid" src="óra.webp" alt="" width="300" height="300">
                </a>
                <h2>Watches</h2>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette pt-5">
            <section>
                <div class="parallax-two">
                    <div class="hhg">
                        <h2 class="featurette-heading">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            <span class="text-muted">Enim dolore autem cum.</span>
                        </h2>
                        <p class="lead"><strong><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos,
                                    qui quisquam. Accusantium deserunt impedit dolorem fuga velit laborum neque dolorum
                                    repellat dignissimos voluptates aspernatur ad aut error, nam, consequatur
                                    eius.</strong></strong></p>
                    </div>
                </div>
            </section>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette pt-5">
            <section>
                <div class="parallax-three order-md-2">
                    <div class="hhgh">
                        <h2 class="featurette-heading">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            <span class="text-muted">Enim dolore autem cum.</span>
                        </h2>
                        <p class="lead"><strong><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos,
                                    qui quisquam. Accusantium deserunt impedit dolorem fuga velit laborum neque dolorum
                                    repellat dignissimos voluptates aspernatur ad aut error, nam, consequatur
                                    eius.</strong></strong></p>
                    </div>
                </div>
            </section>
        </div>

        <hr class="featurette-divider">

        <div id="carouselExampleIndicators" class="carousel slide pt-3 pb-2">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <div class="row justify-content-center">
                        <div class="card col-4">
                            <img src="" class="card-img-top" alt="">
                            <div class="card-body justify-content-end">
                                <h5 class="card-title"></h5>
                            </div>
                            <div class="card-body align-content-end text-center">
                                <a id="btn" href="" class="btn btn-primary">Buy 9.99<i
                                        class="bi bi-currency-dollar"></i></a>
                            </div>
                        </div>
                        <div class="card col-4">
                            <img src="" class="card-img-top" alt="">
                            <div class="card-body justify-content-end">
                                <h5 class="card-title"></h5>
                            </div>
                            <div class="card-body align-content-end text-center">
                                <a id="btn" href="" class="btn btn-primary">Buy 9.99<i
                                        class="bi bi-currency-dollar"></i></a>
                            </div>
                        </div>
                        <div class="card col-4">
                            <img src="" class="card-img-top" alt="">
                            <div class="card-body justify-content-end">
                                <h5 class="card-title"></h5>
                            </div>
                            <div class="card-body align-content-end text-center">
                                <a id="btn" href="" class="btn btn-primary">Buy 9.99<i
                                        class="bi bi-currency-dollar"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row justify-content-center">
                        <div class="card col-4">
                            <img src="" class="card-img-top" alt="">
                            <div class="card-body justify-content-end">
                                <h5 class="card-title"></h5>
                            </div>
                            <div class="card-body align-content-end text-center">
                                <a id="btn" href="" class="btn btn-primary">Buy 9.99<i
                                        class="bi bi-currency-dollar"></i></a>
                            </div>
                        </div>
                        <div class="card col-4">
                            <img src="" class="card-img-top" alt="">
                            <div class="card-body justify-content-end">
                                <h5 class="card-title"></h5>
                            </div>
                            <div class="card-body align-content-end text-center">
                                <a id="btn" href="" class="btn btn-primary">Buy 9.99<i
                                        class="bi bi-currency-dollar"></i></a>
                            </div>
                        </div>
                        <div class="card col-4">
                            <img src="" class="card-img-top" alt="">
                            <div class="card-body justify-content-end">
                                <h5 class="card-title"></h5>
                            </div>
                            <div class="card-body align-content-end text-center">
                                <a id="btn" href="" class="btn btn-primary">Buy 9.99<i
                                        class="bi bi-currency-dollar"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row justify-content-center">
                        <div class="card col-4">
                            <img src="" class="card-img-top" alt="">
                            <div class="card-body justify-content-end">
                                <h5 class="card-title"></h5>
                            </div>
                            <div class="card-body align-content-end text-center">
                                <a id="btn" href="" class="btn btn-primary">Buy 9.99<i
                                        class="bi bi-currency-dollar"></i></a>
                            </div>
                        </div>
                        <div class="card col-4">
                            <img src="" class="card-img-top" alt="">
                            <div class="card-body justify-content-end">
                                <h5 class="card-title"></h5>
                            </div>
                            <div class="card-body align-content-end text-center">
                                <a id="btn" href="" class="btn btn-primary">Buy 9.99<i
                                        class="bi bi-currency-dollar"></i></a>
                            </div>
                        </div>
                        <div class="card col-4">
                            <img src="" class="card-img-top" alt="">
                            <div class="card-body justify-content-end">
                                <h5 class="card-title"></h5>
                            </div>
                            <div class="card-body align-content-end text-center">
                                <a id="btn" href="" class="btn btn-primary">Buy 9.99<i
                                        class="bi bi-currency-dollar"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <hr class="featurette-divider">

        <div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
            <button type="button" class="btn active" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
                <i class="fas fa-chevron-up"> Back to top </i>
            </button>
        </div>

    </div>
    <br>
</main>