

.parallax-one {
    background-image: url(../../../../public/placeholder.webp);
    border: 100px black;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 25px 10px 100px 30px black;

    min-height: 500px;
    margin-bottom: 50px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hhg {
    padding-inline: 50px;
    padding-inline-end: 150px;
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 25px 25px 25px 25px;
    padding-top: 50px;
    padding-bottom: 300px;
}

.hhgh {
    padding-inline: 150px;
    padding-inline-end: 50px;
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 25px 25px 25px 25px;
    padding-top: 50px;
    padding-bottom: 300px;
}

#hgh {
    background-color: rgba(97, 97, 97, 0.2);
    text-shadow: 5px 5px 5px rgb(0, 0, 0);

    border-radius: 0px 0px 25px 25px;
    padding-top: 207px;
    padding-bottom: 207px;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
    align-content: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

@media (min-width: 40em) {

    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

a.qwe {
    color: black;
}





.hovimg img {
    --s: 250px;
    /* the size of the image */
    --b: 8px;
    /* the border thickness*/
    --g: 14px;
    /* the gap */
    --c: #F5AA5F;
    /* the color */

    width: var(--s);
    aspect-ratio: 1;
    outline: calc(var(--s)/2) solid #0009;
    outline-offset: calc(var(--s)/-2);
    cursor: pointer;
    transition: .3s;
}

.hovimg img:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
}

img+img {
    border-radius: 50%;
}

.scroll-to-top {
    border-radius: 10px;
    background-color: beige;
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
}