<main id="hatterek" role="main">

    <div class="container">
        <div class="row">
            <section>
                <div class="parallax-one text-center text-light text-uppercase">
                    <a id="top"></a>
                    <div id="hgh">
                        <img class="p-2 logo" src="retro_logo.png" alt="logo" width="100" height="100">
                        <h2>Retro Vintage Shop</h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim dolore autem cum blanditiis
                            tempore delectus quisquam nemo vitae, fuga debitis explicabo omnis quis quaerat magni iste
                            assumenda facilis eos recusandae?
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="container marketing pt-5">

        <div class="row pt-5 hovimg">

            <hr class="featurette-divider pb-5">

            <div class="col-lg-4 ">
                <a [routerLink]="['/shop/all']" [queryParams]="{ category: 'Bakelit Lemez Gyűjtemények' }">
                    <img class="img-fluid" src="bakelit_lemez.jpg" alt="" width="300" height="300">
                </a>
                <h2>Bakelite discs</h2>
            </div>
            <div class="col-lg-4 ">
                <a [routerLink]="['/shop/all']" [queryParams]="{ category: 'Falidíszek' }">
                    <img class="img-fluid" src="poszterek.webp" alt="img-fluid" width="300" height="300">
                </a>
                <h2>Posters</h2>
            </div>
            <div class="col-lg-4 ">
                <a [routerLink]="['/shop/all']" [queryParams]="{ category: 'Órák' }">
                    <img class="img-fluid" src="óra.webp" alt="" width="300" height="300">
                </a>
                <h2>Watches</h2>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette pt-5">
            <section>
                <div class="parallax-two">
                    <div class="hhg">
                        <h2 class="featurette-heading">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            <span class="text-muted">Enim dolore autem cum.</span>
                        </h2>
                        <p class="lead"><strong><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos,
                                    qui quisquam. Accusantium deserunt impedit dolorem fuga velit laborum neque dolorum
                                    repellat dignissimos voluptates aspernatur ad aut error, nam, consequatur
                                    eius.</strong></strong></p>
                    </div>
                </div>
            </section>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette pt-5">
            <section>
                <div class="parallax-three order-md-2">
                    <div class="hhgh">
                        <h2 class="featurette-heading">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            <span class="text-muted">Enim dolore autem cum.</span>
                        </h2>
                        <p class="lead"><strong><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos,
                                    qui quisquam. Accusantium deserunt impedit dolorem fuga velit laborum neque dolorum
                                    repellat dignissimos voluptates aspernatur ad aut error, nam, consequatur
                                    eius.</strong></strong></p>
                    </div>
                </div>
            </section>
        </div>

        <hr class="featurette-divider">

        <div id="multiItemCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let chunk of chunkedProducts; let i = index"
                    [class.active]="i === 0">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-4" *ngFor="let product of chunk">
                                <div class="card h-100 shadow-sm">
                                    <img src="retro_logo.png" class="card-img-top" alt="{{ product.name }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ product.name }}</h5>
                                        <p class="card-text">{{ product.description }}</p>
                                    </div>
                                    <div class="card-footer text-end fw-bold">
                                        {{ product.price | currency:'HUF' }}
                                    </div>
                                    <a [routerLink]="['/shop/all']" [queryParams]="{ category: product.category.name }"
                                        class="btn btn-sm btn-outline-primary m-2 float-end">Megnézem</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#multiItemCarousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#multiItemCarousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>



        <hr class="featurette-divider">

        <div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
            <button type="button" class="btn active" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
                <i class="fas fa-chevron-up"> Back to top </i>
            </button>
        </div>

    </div>
    <br>
</main>