body {
    margin: 0;
    padding: 0;
}

/* Alap világos mód */
body {
    background-color: #BFA082 !important;
    color: #212529 !important;
}

body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.admin-sidebar,
.table,
.btn,
.navbar {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}


/* Sötét mód */
body.dark-mode {
    background-color: #4d3d2d !important;
    color: #F5F5DC !important;
}

/* Példa sötét mód stílus komponensekre */
body.dark-mode .table {
    background-color: #332312 !important;
    color: #F5F5DC !important;
}

body.dark-mode .btn {
    background-color: #333 !important;
    color: #f1f1f1 !important;
    border-color: #555 !important;
}