
.form-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    align-items: flex-start; 
    padding: 20px; 
  }
  
  .checkout-form, .product-list {
    background-color: #F4DEBE;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box; 
    flex: 1;
    max-width: 48%; 
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  button {
    background-color: #4D675A;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  body {
    background-color: #4D675A;
  }
  
 
  .checkout-form label, .checkout-form input, .checkout-form select, .checkout-form button {
    display: block; 
    width: 100%; 
    margin-bottom: 15px; 
  }
  

  .checkout-form input, .checkout-form select {
    width: 50%; 
    margin: 0 auto; 
  }
  

  label {
    text-align: center;
  }
  

  input, #payment {
    text-align: center;
  }
  

  .checkout-form .total-amount {
    text-align: center; 
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }
  

  .checkout-form .total-amount div {
    margin-bottom: 10px;
  }
  