#hatter {
    background-color: #847B45;
    color: #000;
}

#asd {
    padding: 50px;
    border-radius: 30px;
    background-color: rgba(245, 245, 245, 0.589);
    box-shadow: 25px 25px 25px #4e4823;
}

a:hover {
    background-color: #4D675A;
}

#reg:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0);
}

.loginsection {
    height: auto;
    width: auto;
}

#reg {
    text-decoration: none;
}