
<footer class="bg-dark text-center text-lg-start text-white">
    <div class="container-fluid p-4 pb-0">
        <section>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 id="asd" class="text-uppercase">About Us</h5>

                    <p>
                        Hungary's best Retro Vintage web marketplace
                    </p>
                    <h6 id="asd" class="text-uppercase">Contact</h6>

                    <ul class="footer-links" style="list-style-type:square">
                        <li>
                            <a href="aretrovintage@gmail.com">aretrovintage&#64;gmail.com</a>
                        </li>
                        <li>
                            <a href="hermann.mate@simonyiszki.org">hermann.mate&#64;simonyiszki.org</a>
                        </li>
                        <li>
                            <a href="gal.martin.ferenc@simonyiszki.org">gal.martin.ferenc&#64;simonyiszki.org</a>
                        </li>
                        <li>
                            <a href="pancza.milán@simonyiszki.org">pancza.milan&#64;simonyiszki.org</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 id="asd" class="text-uppercase">Information</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a class="nav-link" href="/contact-us">📨 Contact Us</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/privacy-and-security">🔐 Privacy & Security</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/orders-refunds">📦 Orders & Refunds</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/general-terms-and-conditions">📜 General Terms and Conditions</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 id="asd" class="text-uppercase">Services</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="/profile">Profile</a>
                        </li>
                        <li>
                            <a href="/cart">Cart</a>
                        </li>
                        <li>
                            <a href="/blog">Blog</a>
                        </li>
                        <li>
                            <a href="/help">Help</a>
                        </li>
                    </ul>
                </div>

            </div>
        </section>
        <hr class="mb-4" />

        <section class="row d-flex justify-content-center align-items-center">
            <p class="col-12 d-flex justify-content-center align-items-center">
                <span class="me-3">Subscribe to the <strong id="asd">NEWSLETTER</strong></span>
            </p>
            <div class="input-group mb-3" style="width: 50%;">
                <input type="text" class="form-control" placeholder="Enter your email!">
                <div id="subs" class="input-group-text">
                    <button id="submit" type="submit">Subscribe</button>
                </div>
            </div>
        </section>
        <hr class="mb-4" />

        <section class="mb-4 text-center">
            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                <i class="bi bi-facebook"></i></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                <i class="bi bi-instagram"></i>
            </a>

            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                <i class="bi bi-twitter-x"></i>
            </a>

            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                <i class="bi bi-discord"></i>
            </a>

            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                <i class="bi bi-github"></i>
            </a>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
</footer>
