#submit {
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

#submit:hover {
    border-color: lightsalmon;
    border-radius: 25px;
    color: lightsalmon;
    background-color: black;
}

#subs {
    background-color: lightsalmon;
}

a {
    color: lightgray;
}

a:hover {
    color: lightsalmon;
}

#asd {
    color: lightsalmon;
}

.mainContainer{
    width: 100% !important;
}