<main class="d-flex min-vh-100">
    <!-- Sidebar -->
    <nav class="admin-sidebar bg-light border-end p-2" [class.closed]="!sidebarOpen">
        <ul class="nav flex-column">
            <li>
                <a class="d-flex align-items-center">
                    <span class="btn btn-lg btn-outline-dark" (click)="toggleSidebar()">
                        <i class="bi bi-list"></i>
                    </span>
                </a>
                <a routerLinkActive="active" class="nav-link d-flex align-items-center gap-2">
                    <span class="label">
                        <h4 class="mb-4 mt-5 text-dark" *ngIf="sidebarOpen">Admin Panel</h4>
                    </span>
                </a>

            </li>
            <li class="nav-item mb-2" *ngFor="let item of sidebarItems">
                <a [routerLink]="item.link" routerLinkActive="active" class="nav-link d-flex align-items-center gap-2">
                    <span class="icon position-relative">
                        {{ item.icon }}
                        <span *ngIf="item.key === 'messages' && messageCount > 0"
                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                            style="font-size: 0.5rem;">
                            {{ messageCount }}
                        </span>
                    </span>
                    <span class="label" *ngIf="sidebarOpen; else tooltip" [title]="item.label">{{ item.label }}</span>
                    <ng-template #tooltip></ng-template>
                </a>

            </li>
        </ul>
    </nav>


    <!-- Main content -->
    <section class="flex-grow-1 position-relative">
        <app-nav-bar></app-nav-bar>

        <router-outlet></router-outlet>
    </section>
</main>