
.product-list-container {
    padding: 20px;
    background-color: #BFA082; 
}

.product-list-header {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.product-item span {
    flex: 1;
    font-size: 16px;
}

.product-button {
    background-color: #4D675A;
    color: white;
    padding: 3px 6px;
    border: none;
    border-radius: 2.5px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 3px;
    width: 90px;
}

.product-button:hover {
    background-color: #4D675A;
}

.product-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
